#text{
    width: 250px;
    border: 2px solid black;
        border-radius: 1px;
        padding: 20px;
        margin: auto;
       
}

button{
width: 21%;
background-color: white;
color: black;
border: 3px solid gray;
	border-radius: 5px;
	padding: 10px;
	margin: 6.5px;
	font-size: 15px;
    
}

